CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_C5-V4"
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_EXFAT=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_ENABLE_SWAP=y
CONFIG_FIRMWARE_INCLUDE_HID=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y
CONFIG_FIRMWARE_INCLUDE_LPRD=y
CONFIG_FIRMWARE_INCLUDE_U2EC=y
CONFIG_FIRMWARE_INCLUDE_HDPARM=y
CONFIG_FIRMWARE_INCLUDE_SMBD=y
CONFIG_FIRMWARE_INCLUDE_FTPD=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_SFTP=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y
