CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="TL_C50-V4"
CONFIG_FIRMWARE_CPU_600MHZ=y
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_XFRM=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_SFTP=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y
CONFIG_FIRMWARE_INCLUDE_WPAD=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_EOIP=y
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_NFQWS=y
CONFIG_NETFILTER_NETLINK_QUEUE=m
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=m
CONFIG_IP_NF_QUEUE=m
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
